a, body, section, article, div, html {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;

	font: inherit;
	text-decoration: inherit;
	text-align: inherit;
	color: inherit;
	background: transparent;
}

body {
    background-color: black;
    color: white;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
}

audio {
	display: none;
}

div.fps-counter {
	position: absolute;
	top: 600px;
}

article.game {
	position: relative;
	display: block;
	border: 2px dashed yellow;
	width: 1024px;
	height: 576px;
	/*background-image: url('graphics/bg-greystage.jpg');*/
	background-size: 1024px 576px;
	background-repeat: no-repeat;
	margin: 10px auto;
}

.main-menu {
	background: #E5B2E1;
	display: block;
	border: 1px solid black;
	width: 100%;
	height: 100%;
	position: relative;
	box-sizing: border-box;
}

.main-menu-quads {
	display: block;
	width: 900px;
	margin: 0 auto;
	position: relative;
}

.menu-quad {
	display: block;
	width: 400px;
	height: 250px;
	float: left;
	margin-right: 100px;
	margin-bottom: 50px;
}

.main-menu-items {
	display: block;
	width: 260px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
}

.menu-item {
	display: block;
	background: #B2E5B6;
	width: 100%;
	padding: 30px;
	border-radius: 5px;
	text-align: center;
	margin: 5px 0;
	box-sizing: border-box;
	-webkit-text-stroke: 1px #878787;
	font-family: sans-serif;
	font-size: 24px;
	border: 5px solid #B2E5B6;
}

.menu-item.selected {
	border: 5px solid #6B856D;
}

.menu-item:hover {
	background-color: white;
}

.hidden {
	display: none;
}