a, body, section, article, div, html, h1, h2, ul, li, strong, p, pre {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;

	font: inherit;
	text-decoration: inherit;
	text-align: inherit;
	color: inherit;
	background: transparent;
}

ul {
	list-style: none;
}

body {
  background-color: black;
  color: white;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  font-family: sans-serif;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    bottom: 100%;
}

audio {
	display: none;
}

div.fps-counter {
	position: absolute;
	top: 600px;
}

article.game {
	position: relative;
	display: block;
	background-size: 1024px 576px;
	background-repeat: no-repeat;
	overflow: hidden;
}

html, body, article.game {
    width: 100%;
    height: 100%;
}

